:host() /deep/ {
    .plain-container{
        flex-wrap: wrap;
        .image{
            width: 185px !important;
            margin-top: 5px;
            &:hover {
                -webkit-transform: scale(1.2);
                 -ms-transform: scale(1.2);
                transform: scale(1.1);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
        
    }
}
